@model IEnumerable<SistemaPrestamos.Models.Solicitud>

<table class="table">
    <thead>
        <tr>
            <th>ID Solicitud</th>
            <th>Código Alumno</th>
            <th>Código Material</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solicitud in Model)
        {
            <tr>
                <td>@solicitud.IdSolicitud</td>
                <td>@solicitud.Alumno_Usuario_CodUsuario</td> 
                <td>@solicitud.Material_CodMaterial</td> 
                <td>@solicitud.Estado</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#registrarPrestamoModal" data-id="@solicitud.IdSolicitud">Registrar Préstamo</button>
                </td>
            </tr>
        }
    </tbody>
</table>
